<div class="container">
    <div class="row">
        <div class="col-xs-10" >
            <h3>Contacts</h3>
        </div>
        <div class="col-xs-2">
            <button ng-click="add_contact()" class="btn btn-default">Add Contact</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12" ng-repeat="contact in contacts">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <p><h4>{{contact.name}}</h4></p>
                        </div>
                    </div> 
                    <div class="row">
                        <div class="col-xs-2">
                            <p><h5>Mail:</h5></p>
                            <p><h5>Address:</h5></p>
                            <p><h5>Phone:</h5></p>
                            <p><h5>Birthday:</h5></p>
                        </div>
                        <div class="col-xs-10">
                            <span ng-if="contact.mail != null || contact.mail != ''"><h5>{{contact.mail}}</h5></span>
                            <span ng-if="contact.mail == null || contact.mail == ''"><h5>-</h5></span>
                            <span ng-if="contact.address != null || contact.address != ''"><h5>{{contact.address}}</h5></span>
                            <span ng-if="contact.address == null || contact.address == ''"><h5>-</h5></span>
                            <span ng-if="contact.phone != null || contact.phone != ''"><h5>{{contact.phone}}</h5></span>
                            <span ng-if="contact.phone == null || contact.phone == ''"><h5>-</h5></span>
                            <span ng-if="contact.birthday != null || contact.birthday != ''"><h5>{{contact.birthday | date : "dd/MMM/yyyy"}}</h5></span>
                            <span ng-if="contact.birthday == null || contact.birthday == ''"><h5>-</h5></span>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="col-xs-1 btn btn-default"><a ng-href="/edit_contact/{{contact.id}}/">Edit</a></div>
                    <div class="col-xs-2 col-xs-offset-9">
                        <div class="form-group">
                            <button class="form-control btn btn-danger" data-toggle="modal" data-target="#delete-modal-{{contact.id}}">Delete</button>
                        </div>
                    </div>
                    <div id="delete-modal-{{contact.id}}" class="modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <div class="modal-body">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <p>Do you really want to delete <b>{{contact.name}}</b>?</p>
                                    </div>
                                    <div class="col-xs-6">
                                        <button class="form-control btn btn-danger" ng-click="delete_contact(contact.id);">Delete</button>
                                    </div>
                                    <div class="col-xs-6">
                                        <button class="form-control btn btn-default" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!--um desse para cada contato-->
        </div>
    </div>
</div>