
.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 50px;
  color: #99979c;
  text-align: center;
  background-color: #2a2730;
}
@media (min-width: 768px) {
  .footer {
    text-align: left;
  }
}

.footer-heart {
  display: inline-block;
  height: 1.2em;
  position: relative;
  vertical-align: middle;
  width: 1.3em;
}
.footer-heart .glyphicon {
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}
.footer-heart .onhover {
  color: color("red", "base");
  opacity: 0;
  transition: opacity .5s;
}
.footer:hover .footer-heart .onhover {
  opacity: 1;
}

.panel-footer{
  height: 55px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

.tocrop {
  display: none;
}

@media (max-width: 768) {
  .container {
    width: 90%;
  }
}

.logo{
  height: 39px;
}