<div class= "col-sm-12 col-lg-10">
    <div class = "row">
        <div class="col-sm-12 col-lg-12">
            <div class="row">
                <div class="col-xs-12">
                    <form>
                        <div class="form-group" ng-class="{'has-error': formerror.name}">
                            <label for="NewContact"><h4>Name</h4></label>
                            <input class="form-control" id="NewContact" ng-model="formdata.name" type="text" required>
                            <span class="help-block" ng-if="formerror.name">{{formerror.name}}</span>
                        </div>
                        <div class="form-group" ng-class="{'has-error': formerror.mail}">
                            <label for="NewMail"><h4>Mail</h4></label>
                            <input class="form-control" id="NewMail" ng-model="formdata.mail" required></input>
                            <span class="help-block" ng-if="formerror.mail">{{formerror.mail}}</span>
                            <div role="alert">
                              <span class="error" ng-show="myForm.input.$error.required">
                                Required!</span>
                              <span class="error" ng-show="myForm.input.$error.email">
                                Not valid email!</span>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': formerror.Address}">
                            <label for="NewAddress"><h4>Address</h4></label>
                            <input class="form-control" id="NewAddress" ng-model="formdata.address" required></input>
                            <span class="help-block" ng-if="formerror.address">{{formerror.address}}</span>
                        </div>
                        <div class="form-group" ng-class="{'has-error': formerror.Phone}">
                            <label for="NewPhone"><h4>Phone</h4></label>
                            <input class="form-control" id="NewPhone" ng-model="formdata.phone" required></input>
                            <span class="help-block" ng-if="formerror.phone">{{formerror.phone}}</span>
                        </div>
                        <div class="form-group" ng-class="{'has-error': formerror.birthday}">
                            <label for="NewBirthday"><h4>Birthday</h4></label>
                            <input class="form-control" id="NewBirthday" ng-model="formdata.birthday" placeholder="{{formdata.birthday}}" type="date" required></input>
                            <span class="help-block" ng-if="formerror.birthday">{{formerror.birthday | date : "dd/MMM/yyyy"}}</span>
                        </div>
                        <button type="submit" class="btn btn-default" ng-click="edit_contact()">Edit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>